<div data-ng-if="!initializing">
  <div class="header">
    <div class="header__main-caption">RESISTOMAP</div>
    <div class="header__sub-caption">drug resistance in human gut microbiota</div>
  </div>
  <div class="filters-container">
    <filters data-data="data"></filters>
  </div>
  <div class="tip-container">
    <tip></tip>
  </div>
  <div class="content">
    <div class="content__map-chart">
      <map-chart
        data-data="data"
        map-data="mapData"></map-chart>
    </div>
    <div class="content__heatmap-chart inline">
      <heatmap-chart data-data="data"></heatmap-chart>
    </div>
    <div class="content__info-block inline">
      <info-block></info-block>
    </div>
    <br class="clear-both" />
  </div>
  <div class="footer">
    <div class="footer__info inline">
      <p>Visualization by <a class="common-link" href="http://www.datalaboratory.pro/" target="_blank"><span class="footer__dl-caption">Data Laboratory</span></a>, metagenomic analysis by RCPCM. This work was financially supported by Russian Scientific Foundation (grant #15-14-00066).</p>
      <p>Metagenomic data from
        <span data-ng-repeat="s in studies track by $index">
          <a
            class="common-link"
            target="_blank"
            once-href="s.link"
            once-text="s.name"></a>{{$index === studies.length - 1 ? '.' : ','}}
        </span>
        Antibiotic and drug data from <a class="common-link" href="https://card.mcmaster.ca/" target="_blank">CARD</a> and <a class="common-link" href="http://bacmet.biomedicine.gu.se/" target="_blank">BacMet</a>.
      </p>
    </div>
    <div class="likely likely-small inline">
      <div class="twitter" data-via="datalaboratory" data-title="Resistomap:">Tweet</div>
      <div class="facebook">Share</div>
      <div class="vkontakte" data-title="Resistomap: http://resistomap.datalaboratory.ru/">Share</div>
      <div class="pinterest" data-media="http://resistomap.datalaboratory.ru/img/social/i.png" data-title="Resistomap: http://resistomap.datalaboratory.ru/">Pin</div>
    </div>
    <br class="clear-both" />
  </div>
</div>
