<div data-ng-if="!initializing">
  <div class="filters-container">
    <filters data-data="data"></filters>
  </div>
  <div class="content">
    <div class="content__map-chart"></div>
    <div class="content__heatmap-chart inline">
      <heatmap-chart
        data-data="data"
        data-color-scale="colorScale">
      </heatmap-chart>
    </div>
    <div class="content__info-block inline"></div>
    <br class="clear-both" />
  </div>
  <div class="datalab-footer">
    <div class="datalab-footer__typical-info">Visualization by <a class="common-link" href="http://www.datalaboratory.pro/" target="_blank"><span class="datalab-footer__dl-caption">Data Laboratory</span></a></div>
    <div class="datalab-footer__additional-info">Data from {{studies}}</div>
  </div>
</div>
