<div class="filters">
  <div class="filters__filters">
    <substance-filter
      class="inline"
      data-data="data"></substance-filter>
    <custom-select
      class="inline"
      data-ng-repeat="filter in studyCountryFilters track by $index"
      data-key="filter.key"
      data-dataset="filter.dataset"
      data-multi="filter.multi"
      data-toggle-format="filter.toggleFormat"
      data-disabled="filter.disabled"
      data-selected="studyCountryFiltersValues[filter.key]"
      data-adjust-width="true"></custom-select>
    <br class="clear-both" />
  </div>
  <div class="filters__checkboxes">
    <div class="caption">Pool heatmap by</div>
    <div
      class="checkbox"
      data-ng-repeat="checkbox in checkboxes track by $index"
      data-ng-class="{'disabled': studyCountryFiltersValues[checkbox].value, 'active': hovered}"
      data-ng-mouseover="hovered = true"
      data-ng-mouseout="hovered = false"
      data-ng-click="checkboxesValues[checkbox] = !checkboxesValues[checkbox]">
      <img
        class="inline"
        data-ng-src="../img/accessories/checkbox{{hovered ? (checkboxesValues[checkbox] ? '-checked-hover' : '-empty-hover') : (checkboxesValues[checkbox] ? '-checked' : '-empty')}}.png" />
      <span class="caption inline">{{checkbox.replace('f-', '')}}</span>
      <br class="clear-both" />
    </div>
    <br class="clear-both" />
  </div>
</div>
