<div class="filters">
  <custom-select
    class="inline"
    data-ng-repeat="filter in filters track by filter.key"
    data-key="filter.key"
    data-dataset="filter.dataset"
    data-multi="filter.multi"
    data-toggle-format="filter.toggleFormat"
    data-disabled="false"
    data-selected="filterValues[filter.key]">
  </custom-select>
  <div
    class="filters-reset inline"
    data-ng-show="isResetShown()"
    data-ng-click="resetFilters()">&times;</div>
  <br class="clear-both" />
</div>
