<div class="filters">
  <div class="filters__substance-filter">
    <substance-filter
      data-data="data"></substance-filter>
  </div>
  <div class="filters__study-country-filters">
    <custom-select
      class="inline"
      data-ng-repeat="filter in studyCountryFilters track by $index"
      data-key="filter.key"
      data-dataset="filter.dataset"
      data-multi="filter.multi"
      data-toggle-format="filter.toggleFormat"
      data-disabled="filter.disabled"
      data-selected="studyCountryFiltersValues[filter.key]"
      data-adjust-width="true"></custom-select>
    <br class="clear-both" />
  </div>
  <div class="filters__checkboxes">
    <div class="caption">Pool by</div>
    <div
      class="checkbox"
      data-ng-repeat="checkbox in checkboxes track by $index"
      data-ng-class="{'disabled': studyCountryFiltersValues[checkbox].value}">
      <label>
        <input
          type="checkbox"
          ng-model="checkboxesValues[checkbox]">{{checkbox.replace('f-', '') + ($index < checkboxes.length - 1 ? ',' : '')}}
      </label>
    </div>
    <br class="clear-both" />
  </div>
</div>
