<div class="heatmap-chart">
  <div class="heatmap-chart__header">
    <div
      class="resistance-group inline"
      data-ng-repeat="(resistance, substances) in data.resistances track by $index">
      <div class="resistance-caption">
        <span>{{resistance.indexOf('(') !== -1 ? resistance.split('(')[0] : resistance}}</span>
        <span class="tail">{{resistance.indexOf('(') !== -1 ? '(' + resistance.split('(')[1] : ''}}</span>
      </div>
      <div
        class="substance-caption inline"
        data-ng-repeat="substance in ['overall'].concat(substances.length < 2 ? [] : substances) track by $index"
        data-ng-class="{'overall': substance === 'overall'}">{{substance === 'overall' ? 'median' : substance.charAt(0)}}</div>
      <br class="clear-both" />
    </div>
    <br class="clear-both" />
  </div>
  <div class="heatmap-chart__rows">
    <div
      class="row"
      data-ng-repeat="cohort in [] track by $index"
      data-ng-class="{'pushed': false, 'unavailable': false)}">
      <img
        class="flag inline"
        data-ng-src="img/flags/{{country.name}}.png" />
      <div class='name inline'>{{country.name}}</div>
      <div class='n-of-samples inline'>{{SMP[country.name] ? SMP[country.name] : ''}}</div>
      <div
        class="resistance-group inline"
        data-ng-repeat="(resistance, substances) in data.resistances track by $index">
        <div
          class="substance-cell inline"
          data-ng-repeat="substance in ['overall'].concat(substances.length < 2 ? [] : substances) track by $index"
          data-ng-style="{'background-color': getCellColor()}"
          data-ng-class="{'overall': substance === 'overall'}"
          data-ng-mouseover="substanceCellMouseover()"
          data-ng-mouseout="substanceCellMouseout()"></div>
        <br class="clear-both" />
      </div>
      <br class="clear-both" />
    </div>
  </div>
</div>
