<div class="heatmap-chart">
  <div class="heatmap-chart__header">
    <div
      class="resistance-group inline"
      data-ng-repeat="(r, substances) in data.resistances track by $index">
      <div class="resistance-caption">
        <span once-text="r.indexOf('ABX') !== -1 ? r.split(' ')[0] : r"></span>
        <span
          class="tail"
          once-text="r.indexOf('ABX') !== -1 ? r.split(' ')[1] : ''"></span>
      </div>
      <div
        class="substance-caption inline"
        data-ng-repeat="s in ['overall'].concat(substances.length < 2 ? [] : substances) track by $index"
        data-ng-class="{'highlighted': r === resistance && s === substance}"
        once-class="{'overall': s === 'overall'}"
        once-text="s === 'overall' ? (substances.length < 2 ? 'median' : 'mean') : s.charAt(0)"
        once-title="s === 'overall' ? '' : s"></div>
      <br class="clear-both" />
    </div>
    <br class="clear-both" />
  </div>
  <div class="heatmap-chart__rows">
    <div
      class="row"
      data-ng-repeat="cohort in cohorts track by $index"
      data-ng-class="{'pushed': cohort.isPushed, 'with-flag': cohort.flag}">
      <img
        class="flag inline"
        data-ng-if="cohort.flag"
        data-ng-src="img/flags/{{cohort.flag}}.png" />
      <div class="name inline" overflow>
        <span class="short">{{cohort.name}}</span>
        <span class="full">{{cohort.name}}</span>
      </div>
      <div class="n-of-samples inline">{{cohort.samples.length}}</div>
      <div
        class="resistance-group inline"
        data-ng-repeat="(r, substances) in data.resistances track by $index">
        <div
          class="substance-cell inline"
          data-ng-repeat="s in ['overall'].concat(substances.length < 2 ? [] : substances) track by $index"
          data-ng-class="{'highlighted': r === resistance && s === substance, 'top': !$parent.$parent.$index, 'bottom': $parent.$parent.$index === cohorts.length - 1}"
          data-ng-style="{'background-color': getCellColor(cohort, r, s)}"
          data-ng-mouseover="substanceCellMouseover(cohort, r, s)"
          data-ng-mouseout="substanceCellMouseout()"
          once-class="{'overall': s === 'overall'}"></div>
        <br class="clear-both" />
      </div>
      <br class="clear-both" />
    </div>
  </div>
</div>
