<div class="heatmap-chart">
  <div class="heatmap-chart__heatmap">
    <div
      class="country-row"
      data-ng-repeat="country in (sortedCountries = (data.countries | orderBy:['-continent', 'name'])) track by $index"
      data-ng-class="{'pushed': $index && sortedCountries[$index]['continent'] !== sortedCountries[$index - 1]['continent'], 'unavailable': !SMP[country['name']]}">
      <img
        class="flag inline"
        data-ng-src="img/flags/{{country['name']}}.png" />
      <div class='name inline'>{{country['name']}}</div>
      <div class='n-of-samples inline'>{{SMP[country['name']] ? SMP[country['name']] : ''}}</div>
      <div
        class="substance-cell inline"
        data-ng-repeat="substance in data.resistances['antibiotic resistance'] track by $index"
        data-ng-style="{'background-color': getCellColor(country['name'], 'antibiotic resistance', substance)}"
        data-ng-mouseover="substanceCellMouseover(country['name'], 'antibiotic resistance', substance)"
        data-ng-mouseout="substanceCellMouseout()"
        data-ng-mousemove="substanceCellMousemove($event)"></div>
      <br class="clear-both" />
    </div>
  </div>
  <div class="heatmap-chart__legend">
    <div
      class="caption left"
      data-ng-bind-html="abundanceValuesExtent[0] | prepareAbundanceValue:maxPower | trust"></div>
    <div
      class="caption right"
      data-ng-bind-html="abundanceValuesExtent[1] | prepareAbundanceValue:maxPower | trust"></div>
    <div
      class="legend-cell inline"
      data-ng-repeat="color in gradient track by $index"
      data-ng-style="{'background-color': color}"></div>
    <br class="clear-both" />
    <div
      class="pointer"
      data-ng-style="{'left': getLegendPointerX() + 'px'}"></div>
  </div>
  <div
    class="heatmap-chart__tooltip"
    data-ng-class="{'hidden': !tooltip.substance}"
    data-ng-style="{'transform': 'translate(' + tooltip.coordinates.x + 'px, ' + tooltip.coordinates.y + 'px)'}">
    <div
      class="abundance-value"
      data-ng-bind-html="'Median abundance: ' + (tooltip.abundanceValue | prepareAbundanceValue:maxPower) | trust"></div>
    <div class="n-of-samples">{{tooltip.nOfSamples + ' ' + (tooltip.nOfSamples === 1 ? 'sample' : 'samples')}}</div>
  </div>
</div>
