<div class="info-block">
  <div class="info-block__header">
    <div>{{substance}}</div>
    <div>resistance level</div>
    <div class="inline">{{countryName ? 'in ' + countryName : ''}}</div>
    <i
      class="flag {{'twemoji-' + flag.toLowerCase()}} inline"
      data-ng-if="countryName"></i>
    <br class="clear-both" />
  </div>
  <div class="info-block__legend">
    <div
      class="gradient"
      data-ng-style="{'background': 'linear-gradient(to right, ' + legendGradient.join(', ') + ')'}"></div>
    <div
      class="abundance-value"
      data-ng-show="abundanceValue !== undefined"
      data-ng-bind-html="abundanceValue | prepareAbundanceValue | trust"></div>
    <div
      class="pointer"
      data-ng-style="{'left': legendPointerX + 'px'}"></div>
    <div
      class="tick"
      data-ng-repeat="tickValue in legendScale.domain() track by $index"
      data-ng-style="{'left': legendScale(tickValue)}">
      <div
        class="dash"
        data-ng-if="$index"></div>
      <div
        class="caption"
        data-ng-show="$index && !($index % ((legendScale.domain().length - 1) / 2))"
        data-ng-if="abundanceValue === undefined"
        data-ng-bind-html="tickValue | prepareAbundanceValue | trust"></div>
    </div>
  </div>
  <div
    class="info-block__n-of-samples"
    data-ng-show="nOfSamples">{{abundanceValueType + ' among ' + nOfSamples + (nOfSamples === 1 ? ' sample' : ' samples')}}</div>
  <div
    class="info-block__top-five-list"
    data-ng-show="topFiveList && topFiveList.length">
    <div class="caption">Gene resistance</div>
    <div
      class="row"
      data-ng-repeat="item in topFiveList track by $index">
      <div
        class="name inline"
        overflow>
        <span class="short">{{item.name}}</span>
        <span class="full">{{item.name}}</span>
      </div>
      <div
        class="bar inline"
        data-ng-style="{'width': maxBarWidth * item.value / topFiveList[0].value + 'px', 'background-color': getBarColor(item.value)}"></div>
      <div
        class="value inline"
        data-ng-bind-html="item.value | prepareAbundanceValue | trust"></div>
      <br class="clear-both" />
    </div>
  </div>
  <div
    class="info-block__info-link"
    data-ng-show="infoLink">
    <a
      class="common-link"
      target="_blank"
      data-ng-href="{{infoLink}}">{{substance}}</a> on {{database}}
  </div>
</div>
