<div class="info-block">
  <div class="info-block__header">
    <div>{{substance}}</div>
    <div class="inline">{{countryName ? 'in ' + countryName : 'resistance level'}}</div>
    <img
      class="flag inline"
      data-ng-if="countryName"
      data-ng-src="img/flags/{{countryName}}.png" />
    <br class="clear-both" />
  </div>
  <div class="info-block__legend">
    <div
      class="gradient inline"
      data-ng-style="{'background': 'linear-gradient(to top, ' + legendGradient.join(', ') + ')'}"></div>
    <div
      class="abundance-value inline"
      data-ng-show="abundanceValue !== undefined"
      data-ng-class="{'nil': abundanceValue === 0}"
      data-ng-bind-html="abundanceValue | prepareAbundanceValue | trust"></div>
    <br class="clear-both" />
    <div
      class="pointer"
      data-ng-style="{'bottom': legendPointerY + 'px'}"></div>
    <div
      class="tick"
      data-ng-repeat="tickValue in legendScale.domain() track by $index"
      data-ng-style="{'bottom': legendScale(tickValue)}">
      <div class="dash"></div>
      <div
        class="caption"
        data-ng-if="$index && !($index % ((legendScale.domain().length - 1) / 2))"
        data-ng-show="abundanceValue === undefined"
        data-ng-bind-html="tickValue | prepareAbundanceValue | trust"></div>
    </div>
  </div>
  <div class="info-block__n-of-samples">{{nOfSamples === undefined ? '' : ((nOfSamples ? nOfSamples : 'No') + (nOfSamples === 1 ? ' sample' : ' samples'))}}</div>
</div>
