<div class="info-block">
  <div class="info-block__header">{{substance}}</div>
  <div class="info-block__legend">
    <div
      class="gradient inline"
      data-ng-style="{'background': 'linear-gradient(to top, ' + legendGradient.join(', ') + ')'}"></div>
    <div
      class="abundance-value inline"
      data-ng-show="abundanceValue"
      data-ng-bind-html="abundanceValue | prepareAbundanceValue | trust"></div>
    <br class="clear-both" />
    <div
      class="pointer"
      data-ng-style="{'bottom': legendPointerY + 'px'}"></div>
    <div
      class="tick"
      data-ng-repeat="v in legendScale.domain() track by $index"
      data-ng-style="{'bottom': legendScale(v)}">
      <div class="dash"></div>
      <div
        class="caption"
        data-ng-if="$index && !($index % ((legendScale.domain().length - 1) / 2))"
        data-ng-hide="abundanceValue"
        data-ng-bind-html="v | prepareAbundanceValue | trust"></div>
    </div>
  </div>
  <div class="info-block__n-of-samples">{{nOfSamples ? (nOfSamples + ' ' + (nOfSamples === 1 ? 'sample' : 'samples')) : ''}}</div>
</div>
