<div class='taxonomy-heatmap__header'>
    <div class='taxonomy-heatmap__label'>Taxons associated with genes</div>
</div>
<div class="taxonomy-heatmap__caption inline">Group by</div>
<custom-select
    class="inline"
    data-key="colNameSelect.key"
    data-dataset="colNameSelect.dataset"
    data-selected="colName"
></custom-select>
<br class="clear-both">

<heatmap-d3 
    data='table'
    row-name='rowName' 
    col-name='colName.value' 
    width='350'
    height='350'
    margin-left='70'
    margin-top='150'
    item-width='17'
    item-height='24'
></heatmap-d3>