<div class="tip">
  <div
    class="tip__question-button"
    data-ng-click="isInfoShown = true"></div>
  <div
    class="tip__info"
    data-ng-show="isInfoShown">
    <div
      class="close-button"
      data-ng-click="isInfoShown = false"></div>
    <h3>About Resistomap</h3>
    <p>Resistomap shows the level of resistance for antibiotics, biocides and metalls in different countries revealed through the number of studies.</p>
    <p>Resistomap contains two main fields&nbsp;&mdash; geographic map and heatmap.</p>
    <p>Heatmap visualises relative abundance of resistance genes of single antibiotic group (columns) in every selected cohort (rows). Color saturation represents abundance in logarithmic scale and explained by palette in the right side of the heatmap. There are number of samples included in this group under palette.</p>
    <p>Heatmap is vertically divided into four sections responsible for:
      <ol type="1">
        <li>Antibiotic resistance caused by the presence of determinat genes;</li>
        <li>Antibiotic resistance caused by mutations in the target genes;</li>
        <li>Aggregated biocides resistance;</li>
        <li>Aggregated heavy metal resistance.</li>
      </ol>
    </p>
    <p>User can choose study and antibiotic group for visualisation with droplists at the top of the screen. For cohort detalization user can use “Pool by” checkboxes, stratificating cohorts by origin study, country, sex, age and diagnosis.</p>
  </div>
</div>
