@import '../variables';
.head {
  margin: 30px 0 30px $common-offset;
}

.content {
  margin-top: 20px;
}

.content__map-chart {
  margin-left: $common-offset;
}

.content__heatmap-chart {
  margin-left: $common-offset;
}

.datalab-footer {
  margin: 30px 0 30px $common-offset;

  font-family: $helvetica-neue-regular;
  font-size: $s-font-size;
}

.datalab-footer__dl-caption {
  font-family: $garamond-original-italic;
  font-size: $dl-font-size;
}

.datalab-footer .additional-info {
  margin: 5px 0 0 0;
}
