@import '../variables';

.header {
  position: absolute;
  top: 18px;
  left: $common-offset;

  height: 410px;

  text-transform: uppercase;

  font-family: $syncopate;
  font-size: 26px;
}

.header__main-caption {
  font-weight: 700;
}

.header__sub-caption {
  position: absolute;
  bottom: 0;

  color: rgba(0, 0, 0, .5);

  font-weight: 400;
}

.content__map-chart {
  width: 100%;
  height: 450px;
}

.content__heatmap-chart {
  margin: 18px 0 0 $common-offset;
}

.content__info-block {
  margin: 12px 0 0 72px;
}

.footer {
  margin: 30px $common-offset 30px $common-offset;

  font-family: $helvetica-neue-regular;
}

.footer__info {
  width: 880px;

  font-size: $s-font-size;
  line-height: 1.5;
}

.footer .likely {
  float: right;

  margin-top: 12px;
}

.footer__dl-caption {
  font-family: $garamond-original-italic;
  font-size: $dl-font-size;
}
