@import '../variables';

.filters-container {
  position: absolute;
  top: 30px;
  left: $common-offset;

  width: calc(100% - 2 * $common-offset);
}

.tip-container {
  position: absolute;
  top: 30px;
  right: $common-offset;
}

.content__map-chart {
  width: 100%;
  height: 450px;
}

.content__heatmap-chart {
  margin: 20px 0 0 $common-offset;
}

.content__info-block {
  margin: 18px 0 0 40px;
}

.datalab-footer {
  margin: 50px $common-offset 30px $common-offset;

  font-family: $helvetica-neue-regular;
  font-size: $s-font-size;
}

.datalab-footer__dl-caption {
  font-family: $garamond-original-italic;
  font-size: $dl-font-size;
}

.datalab-footer__additional-info {
  margin: 5px 0 0 0;
}
