.inline {
  float: left;
}

.clear-both {
  clear: both;
}

.disabled {
  pointer-events: none;

  opacity: .5;
}

.common-link {
  transition: color .25s ease-out, border-color .25s ease-out;
  text-decoration: none;

  color: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.common-link:hover {
  color: #dc322f;
  border-color: rgba(220, 50, 47, .15);
}
