.flag {
  width: 18px;
  height: 18px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 18px;
}

.twemoji-cn {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1f3.png");
}

.twemoji-dk {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e9-1f1f0.png");
}

.twemoji-fr {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1f5.png");
}

.twemoji-de {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e9-1f1ea.png");
}

.twemoji-il {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ee-1f1f1.png");
}

.twemoji-it {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ee-1f1f9.png");
}

.twemoji-jp {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ef-1f1f5.png");
}

.twemoji-pe {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f5-1f1ea.png");
}

.twemoji-ru {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f7-1f1fa.png");
}

.twemoji-sg {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1ec.png");
}

.twemoji-es {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ea-1f1f8.png");
}

.twemoji-se {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1ea.png");
}

.twemoji-tz {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f9-1f1ff.png");
}

.twemoji-us {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fa-1f1f2.png");
}

.twemoji-ve {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fb-1f1ea.png");
}
