@import '../variables';

.custom-select {
  position: relative;

  cursor: pointer;
  user-select: none;

  color: #333;

  font-family: $helvetica-neue-regular;
  font-size: $l-font-size;
}

.custom-select__toggle {
  overflow: hidden;

  box-sizing: border-box;
  max-width: 700px;
  padding: 5px 24px 5px 10px;

  white-space: nowrap;
  text-overflow: ellipsis;

  border: 1px solid #aaa;
  border-radius: 8px;
  background-color: #fff;
}

.custom-select__toggle.activated {
  border-bottom: none;
  border-radius: 8px 8px 0 0;
}

.custom-select__toggle::after {
  position: absolute;
  top: 12px;
  right: 10px;

  content: '';

  border-top: 6px solid #333;
  border-right: 4px solid transparent;
  border-bottom: none;
  border-left: 4px solid transparent;
}

.custom-select__toggle.activated::after {
  top: 12px;
  right: 10px;

  border-top: none;
  border-right: 4px solid transparent;
  border-bottom: 6px solid #333;
  border-left: 4px solid transparent;
}

.custom-select__dropdown {
  position: absolute;
  z-index: 99;

  overflow: auto;

  max-width: 700px;
  max-height: 340px;

  border: 1px solid #aaa;
  border-top: none;
  border-radius: 0 0 8px 8px;
  background-color: #fff;
}

.custom-select__dropdown .item {
  position: relative;

  overflow: hidden;

  box-sizing: border-box;
  padding: 5px 24px 5px 10px;

  white-space: nowrap;
  text-overflow: ellipsis;

  line-height: 24px;
}

.custom-select__dropdown .item:hover {
  background-color: #d3d3d3;
}

.custom-select__dropdown .item.selected::after {
  position: absolute;
  top: 11px;
  right: 5px;

  width: 9px;
  height: 10px;

  content: '';

  background: transparent url('../img/accessories/check.png') no-repeat left top;
  background-size: 9px 10px;
}

.custom-select__dropdown::-webkit-scrollbar {
  width: 16px;
}

.custom-select__dropdown::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-select__dropdown::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  border-radius: 10px;
  background-color: #ccc;
  background-clip: content-box;
}

.custom-select__dropdown::-webkit-scrollbar-thumb:hover {
  background-color: #b3b3b3;
}
