@import '../variables';

.filters {
  font-family: $helvetica-neue-regular;
}

.filters__filters {
  position: absolute;
  top: 18px;
  left: 258px;
}

.filters__filters .custom-select-multi {
  margin-left: 10px;
}

.filters__filters .custom-select-multi.f-studies {
  width: 240px;
}

.filters__filters .custom-select-multi.f-countries {
  width: 145px;
}

.filters__filters .filters-reset {
  margin-left: 15px;
  padding: 4px 6px;

  cursor: pointer;
  user-select: none;

  color: #dc322f;

  font-size: 16px;
  line-height: 1;
}

.filters__checkboxes {
  position: absolute;
  top: 830px;
  left: 894px;

  white-space: nowrap;

  font-size: $m-font-size;
}

.filters__checkboxes .checkbox {
  margin-top: 5px;

  cursor: pointer;
  user-select: none;
}

.filters__checkboxes .checkbox img {
  width: 13px;
  height: 14px;
  margin-right: 5px;
}

.filters__checkboxes .checkbox.active .caption {
  color: #005599;
}

.filters__sort-by {
  position: absolute;
  top: 970px;
  left: 894px;

  white-space: nowrap;

  font-size: $m-font-size;
}

.filters__sort-by .custom-select {
  margin: -4px 0 0 5px;
}
