@import '../variables';

.filters {
  font-family: $helvetica-neue-regular;
}

.filters__substance-filter .custom-select {
  margin-left: -10px;
}

.filters__substance-filter .custom-select .custom-select__toggle {
  font-size: $xxl-font-size;
  font-weight: bold;
}

.filters__substance-filter .custom-select .custom-select__toggle::after {
  top: 15.5px;
}

.filters__substance-filter .custom-select .custom-select__toggle.activated::after {
  top: 15.5px;
}

.filters__study-country-filters {
  float: right;

  margin-right: 60px;
}

.filters__study-country-filters .custom-select ~ .custom-select {
  margin-left: 10px;
}

.filters__checkboxes {
  position: absolute;
  top: 390px;

  font-size: $s-font-size;
}

.filters__checkboxes > div {
  display: inline-block;

  vertical-align: bottom;
}

.filters__checkboxes .caption {
  font-weight: bold;
}

.filters__checkboxes .checkbox {
  user-select: none;
}

.filters__checkboxes .checkbox label {
  cursor: pointer;
}

.filters__checkboxes .checkbox input {
  margin: 0 3px 0 3px;

  cursor: pointer;
}
