@import '../variables';

.heatmap-chart {
  font-family: $helvetica-neue-regular;
}

.heatmap-chart__tooltip {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  margin-left: 20px;
  padding: 3px;

  text-align: left;

  border-radius: 1px;
  background-color: rgba(255, 255, 255, .7);

  font-size: $s-font-size;
}

.heatmap-chart__tooltip.hidden {
  visibility: hidden;
}

.heatmap-chart__tooltip .tooltip-abundance-value {
  margin-top: -3px;
}

.heatmap-chart__tooltip .tooltip-abundance-value sup {
  font-size: $xs-font-size;
}

.heatmap-chart__rows .country-row {
  height: 20px;

  transition: opacity .25s linear;

  font-size: $s-font-size;
}

.heatmap-chart__rows .country-row.pushed {
  margin-top: 10px;
}

.heatmap-chart__rows .country-row.unavailable {
  pointer-events: none;

  opacity: .5;
}

.heatmap-chart__rows .country-row .flag {
  margin-top: 4px;
}

.heatmap-chart__rows .country-row .name {
  overflow: hidden;

  width: 80px;
  margin: 3px 0 3px 5px;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.heatmap-chart__rows .country-row .n-of-samples {
  width: 40px;
  margin: 3px 10px 3px 5px;

  text-align: right;
}

.heatmap-chart__rows .country-row .substance-cell {
  width: 20px;
  height: 18px;

  transition: background-color .25s linear;

  border: 1px solid #fff;
}

.heatmap-chart__rows .country-row .substance-cell:hover {
  opacity: .5;
}

.heatmap-chart__legend {
  position: relative;

  margin: 20px 0 0 157px;
}

.heatmap-chart__legend .legend-caption {
  position: absolute;
  bottom: -1px;

  font-size: $xs-font-size;
}

.heatmap-chart__legend .legend-caption sup {
  font-size: $xxs-font-size;
}

.heatmap-chart__legend .legend-caption.left {
  left: -105px;

  width: 100px;

  text-align: right;
}

.heatmap-chart__legend .legend-caption.right {
  left: 105px;

  width: 100px;
}

.heatmap-chart__legend .legend-gradient {
  width: 100px;
  height: 10px;
}

.heatmap-chart__legend .legend-pointer {
  position: absolute;
  top: -5px;

  width: 0;
  height: 0;
  margin-left: -5px;

  transition: left .25s linear;

  border-top: 5px solid #777;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
