@import '../variables';

.heatmap-chart {
  font-family: $helvetica-neue-regular;
}

.heatmap-chart__header,
.heatmap-chart__footer {
  margin-left: 155px;
}

.heatmap-chart__header .resistance-group,
.heatmap-chart__footer .resistance-group {
  position: relative;
}

.heatmap-chart__header .resistance-caption,
.heatmap-chart__footer .resistance-caption {
  position: absolute;
  top: 0;
  left: 1px;

  white-space: nowrap;

  font-size: $m-font-size;
  font-weight: bold;
}

.heatmap-chart__header .resistance-caption .tail,
.heatmap-chart__footer .resistance-caption .tail {
  color: #ccc;

  font-size: $s-font-size;
  font-weight: normal;
}

.heatmap-chart__header .substance-caption,
.heatmap-chart__footer .substance-caption {
  position: relative;

  background-color: #fff;

  font-size: $s-font-size;
  line-height: 1;
}

.heatmap-chart__header .substance-caption {
  margin-top: 20px;
}

.heatmap-chart__header .substance-caption.highlighted,
.heatmap-chart__footer .substance-caption.highlighted {
  z-index: 1;

  font-weight: bold;
}

.heatmap-chart__header .substance-caption.full,
.heatmap-chart__footer .substance-caption.full {
  z-index: 2;
}

.heatmap-chart__header .substance-caption:not(.overall),
.heatmap-chart__footer .substance-caption:not(.overall) {
  text-align: center;
}

.heatmap-chart__header .substance-caption::after,
.heatmap-chart__footer .substance-caption::after {
  position: absolute;

  visibility: hidden;

  padding-right: 2px;

  content: attr(data-after-content);
  white-space: nowrap;

  background-color: #fff;
}

.heatmap-chart__header .substance-caption.highlighted::after,
.heatmap-chart__header .substance-caption.full::after,
.heatmap-chart__footer .substance-caption.highlighted::after,
.heatmap-chart__footer .substance-caption.full::after {
  visibility: visible;
}

.heatmap-chart__rows {
  font-size: $s-font-size;
}

.heatmap-chart__rows .row {
  height: 20px;
}

.heatmap-chart__rows .row.pushed {
  margin-top: 10px;
}

.heatmap-chart__rows .row .flag {
  margin-top: 4px;
}

.heatmap-chart__rows .row .name {
  overflow: hidden;

  width: 110px;
  margin: 3px 0 3px 0;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.heatmap-chart__rows .row.with-flag .name {
  width: 89px;
  margin-left: 5px;
}

.heatmap-chart__rows .row .name .full {
  position: absolute;
  z-index: 1;

  display: none;

  padding: 2px;

  transform: translate(-3px, -3px);

  border: 1px solid rgba(0, 0, 0, .167);
  background-color: #fff;
}

.heatmap-chart__rows .row .name.overflow:hover .short {
  display: none;
}

.heatmap-chart__rows .row .name.overflow:hover .full {
  display: block;
}

.heatmap-chart__rows .row .n-of-samples {
  width: 30px;
  margin: 3px 10px 3px 5px;

  text-align: right;
}

.heatmap-chart__header .resistance-group ~ .resistance-group,
.heatmap-chart__rows .row .resistance-group ~ .resistance-group,
.heatmap-chart__footer .resistance-group ~ .resistance-group {
  margin-left: 20px;
}

.heatmap-chart__header .substance-caption,
.heatmap-chart__rows .row .substance-cell,
.heatmap-chart__footer .substance-caption {
  width: 15px;

  border: 1px solid #fff;
}

.heatmap-chart__rows .row .substance-cell {
  position: relative;

  height: 18px;

  transition: background-color .25s linear;
}

.heatmap-chart__rows .row .substance-cell.highlighted.top {
  border-top-color: #333;
}

.heatmap-chart__rows .row .substance-cell.highlighted.bottom {
  border-bottom-color: #333;
}

.heatmap-chart__rows .row .substance-cell.highlighted:before {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;

  content: '';

  border-left: 1px solid #333;
}

.heatmap-chart__rows .row.pushed .substance-cell.highlighted:before {
  top: -11px;
}

.heatmap-chart__rows .row .substance-cell.highlighted:after {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;

  content: '';

  border-right: 1px solid #333;
}

.heatmap-chart__rows .row.pushed .substance-cell.highlighted:after {
  top: -11px;
}

.heatmap-chart__header .substance-caption.overall,
.heatmap-chart__rows .row .substance-cell.overall,
.heatmap-chart__footer .substance-caption.overall {
  width: 50px;
}

.heatmap-chart__rows .row .substance-cell:hover {
  border-color: #333;
}
