@import '../variables';

.heatmap-chart {
  font-family: $helvetica-neue-regular;
}

.heatmap-chart__header,
.heatmap-chart__footer {
  margin-left: 150px;
}

.heatmap-chart__header .resistance-group,
.heatmap-chart__footer .resistance-group {
  position: relative;
}

.heatmap-chart__header .resistance-caption,
.heatmap-chart__footer .resistance-caption {
  position: absolute;
  top: 0;

  white-space: nowrap;

  font-size: $m-font-size;
  font-weight: bold;
}

.heatmap-chart__header .substance-caption,
.heatmap-chart__footer .substance-caption {
  position: relative;

  background-color: #fff;

  font-size: $m-font-size;
  line-height: 1;
}

.heatmap-chart__header .substance-caption {
  margin-top: 20px;
}

.heatmap-chart__header .substance-caption.highlighted,
.heatmap-chart__footer .substance-caption.highlighted {
  z-index: 1;

  color: #0a9;
}

.heatmap-chart__header .substance-caption.full,
.heatmap-chart__header .substance-caption:hover,
.heatmap-chart__footer .substance-caption.full,
.heatmap-chart__footer .substance-caption:hover {
  z-index: 2;
}

.heatmap-chart__header .substance-caption:not(.overall),
.heatmap-chart__footer .substance-caption:not(.overall) {
  text-align: center;
}

.heatmap-chart__header .substance-caption::after,
.heatmap-chart__footer .substance-caption::after {
  position: absolute;

  visibility: hidden;

  padding: 0 7px 4px 0;

  content: attr(data-after-content);
  white-space: nowrap;

  background: linear-gradient(to right, #fff 90%, transparent);
}

.heatmap-chart__header .substance-caption.highlighted::after,
.heatmap-chart__header .substance-caption.full::after,
.heatmap-chart__header .substance-caption:hover::after,
.heatmap-chart__footer .substance-caption.highlighted::after,
.heatmap-chart__footer .substance-caption.full::after,
.heatmap-chart__footer .substance-caption:hover::after {
  visibility: visible;
}

.heatmap-chart__rows {
  margin: 5px 0 5px 0;

  font-size: $m-font-size;
}

.heatmap-chart__rows .row {
  height: 24px;
}

.heatmap-chart__rows .row.pushed {
  margin-top: 10px;
}

.heatmap-chart__rows .row .flag {
  margin-top: 2px;
}

.heatmap-chart__rows .row .name {
  overflow: hidden;

  width: 110px;
  margin-top: 3px;

  white-space: nowrap;
  text-overflow: ellipsis;

  line-height: 16px;
}

.heatmap-chart__rows .row.with-flag .name {
  width: 87px;
  margin-left: 5px;
}

.heatmap-chart__rows .row .name .full {
  position: absolute;
  z-index: 1;

  display: none;

  padding: 2px;

  transform: translate(-3px, -3px);

  border: 1px solid rgba(0, 0, 0, .167);
  background-color: #fff;
}

.heatmap-chart__rows .row .name.overflow:hover .short {
  display: none;
}

.heatmap-chart__rows .row .name.overflow:hover .full {
  display: block;
}

.heatmap-chart__rows .row .n-of-samples {
  width: 30px;
  margin: 3px 5px 0 5px;

  text-align: right;

  line-height: 16px;
}

.heatmap-chart__header .resistance-group ~ .resistance-group,
.heatmap-chart__rows .row .resistance-group ~ .resistance-group,
.heatmap-chart__footer .resistance-group ~ .resistance-group {
  margin-left: 26px;
}

.heatmap-chart__header .substance-caption,
.heatmap-chart__rows .row .substance-cell,
.heatmap-chart__footer .substance-caption {
  width: 17px;
}

.heatmap-chart__header .substance-caption.overall,
.heatmap-chart__rows .row .substance-cell.overall,
.heatmap-chart__footer .substance-caption.overall {
  width: 46px;
}

.heatmap-chart__rows .row .substance-cell {
  position: relative;

  height: 24px;

  cursor: pointer;
  transition: background-color .25s linear;
}

.heatmap-chart__rows .row .substance-cell.highlighted:before {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: '';

  border-right: 1px solid #0a9;
  border-left: 1px solid #0a9;
}

.heatmap-chart__rows .row .substance-cell.highlighted.top:before {
  border-top: 1px solid #0a9;
}

.heatmap-chart__rows .row .substance-cell.highlighted.bottom:before {
  border-bottom: 1px solid #0a9;
}

.heatmap-chart__rows .row.pushed .substance-cell.highlighted:before {
  top: -10px;
}

.heatmap-chart__rows .row .substance-cell:hover:after {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: '';

  border: 1px solid #0a9;
}
