@import '../variables';

.info-block {
  position: relative;

  height: 235px;

  font-family: $helvetica-neue-regular;
}

.info-block__header {
  font-size: $xl-font-size;
  font-weight: bold;
}

.info-block__header .flag {
  margin: 1px 0 0 3px;
}

.info-block__legend {
  position: relative;

  margin-top: 10px;
}

.info-block__legend .gradient {
  width: 30px;
  height: 100px;
}

.info-block__legend .abundance-value {
  margin: 36px 0 0 15px;

  font-size: $xxl-font-size;
}

.info-block__legend .abundance-value.nil {
  margin-top: 40px;
}

.info-block__legend .pointer {
  position: absolute;
  left: 30px;

  width: 0;
  height: 0;

  transition: bottom .25s linear;
  transform: translateY(50%);

  border-top: 5px solid transparent;
  border-right: 5px solid #000;
  border-bottom: 5px solid transparent;
}

.info-block__legend .tick {
  position: absolute;
}

.info-block__legend .tick .dash {
  width: 30px;
  height: 1px;

  background-color: rgba(255, 255, 255, .5);
}

.info-block__legend .tick .caption {
  position: absolute;
  top: 0;
  left: 35px;

  transform: translateY(-50%);

  font-size: $xs-font-size;
}

.info-block__n-of-samples {
  margin-top: 10px;

  font-size: $s-font-size;
}

.info-block__info-link {
  position: absolute;
  top: 220px;

  white-space: nowrap;

  font-size: $s-font-size;
}
