@import '../variables';

.map-heatmap {
  font-family: $helvetica-neue-regular;
}

.map-heatmap__tooltip {
  position: absolute;
  display: none;
  padding: 3px;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 1px;
  text-align: left;
  font-size: $s-font-size;
  z-index: 1;
}

.map-heatmap__map svg {
  display: block;
}

.map-heatmap__map svg .country {
  stroke: #fafafa;
  stroke-width: 0.5;
}
