@import '../variables';

.map-chart {
  font-family: $helvetica-neue-regular;
  width: 500px;
  height: 333px;
}

.map-chart__svg {
  display: block;
}

.map-chart__svg .country {
  stroke: #fafafa;
  stroke-width: 0.5;
}
