@import '../variables';

.map-chart {
  width: 500px;
  height: 333px;

  font-family: $helvetica-neue-regular;
}

.map-chart__svg {
  display: block;
}

.map-chart__svg .country {
  stroke: #fafafa;
  stroke-width: 1;
}
