@import '../variables';

.substance-filter {
  position: relative;

  cursor: pointer;
  user-select: none;

  color: #333;

  font-family: $helvetica-neue-regular;
  font-size: $m-font-size;
}

.substance-filter__toggle {
  position: relative;
  z-index: 100;

  overflow: hidden;

  box-sizing: border-box;
  width: 230px;
  padding: 2px 24px 2px 8px;

  white-space: nowrap;
  text-overflow: ellipsis;

  border: 1px solid rgba(0, 170, 152, .5);
  border-radius: 4px;
  background-color: #fff;

  line-height: 18px;
}

.substance-filter__toggle.activated {
  height: 30px;

  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

.substance-filter__toggle.highlighted {
  font-weight: bold;
}

.substance-filter__toggle::after {
  position: absolute;
  top: 8px;
  right: 8px;

  content: '';

  border-top: 6px solid #ccc;
  border-right: 4px solid transparent;
  border-bottom: none;
  border-left: 4px solid transparent;
}

.substance-filter__toggle.activated::after {
  top: 8px;
  right: 8px;

  border-top: none;
  border-right: 4px solid transparent;
  border-bottom: 6px solid #ccc;
  border-left: 4px solid transparent;
}

.substance-filter__dropdown {
  position: absolute;
  z-index: 99;
  top: 29px;

  width: 570px;
  padding: 6px 0 10px 0;

  border: 1px solid rgba(0, 170, 152, .5);
  border-radius: 0 4px 4px 4px;
  background-color: #fff;
}

.substance-filter__dropdown .left-section .two-column {
  column-count: 2;
  column-gap: 0;
}

.substance-filter__dropdown .item {
  position: relative;

  box-sizing: border-box;
  width: 190px;
  padding-left: 8px;

  border-radius: 3px;

  font-size: $m-font-size;
  line-height: 24px;
}

.substance-filter__dropdown .item.resistance {
  font-weight: bold;
}

.substance-filter__dropdown .left-section .item.resistance {
  width: 380px;
}

.substance-filter__dropdown .item:hover {
  background-color: #f2f4f6;
}

.substance-filter__dropdown .item.selected {
  background-color: #d8daeb;
}

.substance-filter__dropdown .item.pushed {
  margin-top: 20px;
}
