@import '../variables';

.tip {
  font-family: $helvetica-neue-regular;
}

.tip__question-button {
  width: 24px;
  height: 24px;

  cursor: pointer;

  background-image: url('../img/accessories/question-mark.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;
}

.tip__info {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;

  box-sizing: border-box;
  width: 600px;
  height: 620px;
  padding: 30px 40px 20px 20px;

  transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.5);
}

.tip__info .close-button {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 20px;
  height: 20px;

  cursor: pointer;

  background-color: #fff;
}

.tip__info .close-button:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: '\d7';
  text-align: center;

  font-size: $xxl-font-size;
  line-height: 20px;
}

.tip__info h3 {
  margin: 0 0 15px 0;
}
