@import '../variables';

.tips__upload-button {
  padding: 2px 8px;

  cursor: pointer;
  user-select: none;

  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  background-color: #fff;

  font-family: $helvetica-neue-regular;
  font-size: $m-font-size;
  line-height: 18px;
}

.tips__question-button {
  float: right;

  width: 24px;
  height: 24px;
  margin-top: 280px;

  cursor: pointer;

  background-image: url('../img/accessories/question-mark.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;
}

.tips__info-background {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, .95);
}

.tips__info {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;

  box-sizing: border-box;
  width: 600px;
  padding: 20px 40px;

  transform: translate(-50%, -50%);

  background-color: #fff;

  font-family: $helvetica-neue-regular;
  font-size: $m-font-size;
  line-height: 20px;
}

.tips__info.two-columns {
  width: 970px;
}

.tips__info h3 {
  margin: 0 0 20px 0;

  text-transform: uppercase;

  font-family: $syncopate;
  font-size: 26px;
}

.tips__info .column {
  width: 420px;
}

.tips__info .column:not(:first-child) {
  margin-left: 30px;
}

.tips__info p {
  margin: 15px 0 0 0;
}
